.menu {
  position: fixed;
  left: -20em;
  top: 0;
  height: 100%;
  width: 20em;
  background: white;
  z-index: 3;
  transition: left .3s;
  padding: 4em 1em;
  ul {
    padding: 0 1em;
    li {
      font-weight: bold;
      font-size: 20px;
      list-style: none;
      padding: .75em 0;
      background: linear-gradient(to left, white 50%, rgba(0, 184, 212, .1) 50%) right;
      background-size: 200%;
      transition: .3s ease-in;
      &:hover {
        background-position: left;
        cursor: pointer;
      }
    }
    hr {
      margin: 0;
    }
  }
}

.menuOpen {
  left: 0;
  transition: left .3s;
}

.fixed {
  position: fixed!important;
}

.topContainer {
  position: relative;
  background: var(--background-secondary);
  color: var(--text-color-secondary);
  width: 100%;
  min-height: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .introText {
    text-align: center;
  }

  .hamburger {
    position: absolute;
    z-index: 3;
    left: 1em;
    top: 1em;
  }

  .userImage {
    margin-top: 1.5em;
    margin-bottom: -10px;
    object-fit: contain;
    height: 400px;
    z-index: 1;
  }
}

@media screen and (max-width: 768px) {
  .topContainer {
    flex-direction: column-reverse;
    .introText {
      margin-top: 1em;
    }
  }
}

@media screen and (max-width: 480px) {
  .topContainer {
    .hamburger {
      left: .65em;
      top: .65em;
    }
  }

}