.topContainer {
  position: relative;
  background: var(--background-secondary);
  color: var(--text-color-secondary);
  width: 100%;
  min-height: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .introText {
    text-align: center;
  }

  .hamburger {
    position: absolute;
    z-index: 2;
    left: 1em;
    top: 1em;
  }

  .userImage {
    margin-top: 1.5em;
    margin-bottom: -10px;
    object-fit: contain;
    height: 400px;
    z-index: 1;
  }
}

@media screen and (max-width: 768px) {
  .topContainer {
    flex-direction: column-reverse;
    .introText {
      margin-top: 1em;
    }
  }
}

@media screen and (max-width: 480px) {
  .topContainer {
    .hamburger {
      left: .65em;
      top: .65em;
    }
  }

}