.headTextL {
  font-size: 2em;
  font-weight: bold;
}

.boldTextMPrimary {
  font-size: 1.5em;
  font-weight: 500;
  color: var(--text-color-primary);
}

.normalTextSSecondary {
  font-size: 1em;
  color: var(--text-color-secondary);
}

.normalTextSDescription {
  font-size: 1em;
  color: #8e8b8b;
}