.headTextL {
  font-size: clamp(1.5em, 2vw, 2em);
  font-weight: bold;
  color: var(--text-color-secondary);
}

.headTextM {
  font-size: clamp(1.1em, 1.5vw, 1.5em);
  color: var(--text-color-secondary);
}

.headTextS {
  font-size: clamp(0.8em, 1.1vw, 1.1em);
  color: var(--text-color-secondary);
}

.boldTextMPrimary {
  font-size: clamp(1.1em, 1.5vw, 1.5em);
  font-weight: 500;
  color: var(--text-color-primary);
}

.normalTextSSecondary {
  font-size: 1em;
  color: var(--text-color-secondary);
}

.normalTextSDescription {
  font-size: clamp(.8em, 1vw, 1em);
  color: var(--accent-color);
}